<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Game Award Badge</title>
    <link rel="stylesheet" href="../css/AwardsStyle.css">
</head>
<body>
    <div class="badge">
        <div class="ribbon top">Word Game</div>
        <div class="number">100</div>
        <div class="ribbon bottom">100 Plays</div>
        <div class="icons">
            <div class="icon book"></div>
            <div class="icon pencil"></div>
            <div class="icon lightbulb"></div>
        </div>
    </div>
    <div class="badge">
        <div class="ribbon top">Number Game</div>
        <div class="number">100</div>
        <div class="ribbon bottom">100 Plays</div>
        <div class="icons">
            <div class="icon book"></div>
            <div class="icon pencil"></div>
            <div class="icon lightbulb"></div>
        </div>
    </div>

    <div class="notwon">
        <div class="ribbon top">Word Game</div>
        <div class="notwonnumber">1000</div>
        <div class="ribbon bottom">1000 Plays</div>
        <div class="icons">
            <div class="icon book"></div>
            <div class="icon pencil"></div>
            <div class="icon lightbulb"></div>
        </div>
    </div>

    <div class="notwon">
        <div class="ribbon top">Number Game</div>
        <div class="notwonnumber">1000</div>
        <div class="ribbon bottom">1000 Plays</div>
        <div class="icons">
            <div class="icon book"></div>
            <div class="icon pencil"></div>
            <div class="icon lightbulb"></div>
        </div>
    </div>

    <div class="input-box">
        <button class="backbutton" id="loginButton" type="button"onclick="redirectToLudusMagnus()">EXIT PAGE</button>
    </div>
     

    <script src="../js/AwardsScript.js"></script>
</body>
</html>






