<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamezone Login Page</title>
    <link rel="stylesheet" href="../css/indexstyle.css">
</head>

<body>
    <div class="header">
        <div class="word" id="gamified">WELCOME TO THE GAMEZONE</div>
    </div>
    <div class="container">
        <div class="curve-shape"></div>
        <div class="form-box Login">
            <h2>LOGIN</h2>
            <form id="loginForm" action="#" method="post">
               <div class="input-box">
                <input type="text" id="emailOrUsername" required>
                <label for="emailOrUsername">Username/Email</label>
                <i class="fa-solid fa-user"></i>
               </div>
    
               <div class="input-box">
                <input type="password" id="password" required>
                <label for="password">Password</label>
                <i class="fa-solid fa-lock"></i>
               </div>
               <div class="input-box">
                <button class="loginbtn" id="loginButton" type="submit">LOGIN</button>
               </div>
            </form>
        </div>
        <div class="info-content Login">
            <div class="logocontainer">
                <img id="lightbulb" src="../images/Genius.png" alt="Light Bulb">
            </div>
            <p>Play. Learn. Improve.</p>
        </div>
    </div>
    <div class="side-media">
        <img src="../images/side-image1.jpg" alt="Side Image 1" class="side-image">
        <img src="../images/side-image2.jpg" alt="Side Image 2" class="side-image">
        <img src="../images/side-image3.jpg" alt="Side Image 3" class="side-image">
    </div>
<script src="../js/indexscript.js"></script>
</body>
</html>
