<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Page</title>
    <link rel="stylesheet" href="../css/ReadingSpeedTestStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
</head>
<body>
    <form action="#" method="post">
        <p style="color:gold;">Note: The timer begins as soon as the page is loaded! So start reading immediately!</p>
        <div class="input-box">
            <button class="btn" id="loginButton" type="button"onclick="redirectToEasypage()">EASY</button>
        </div>
    
    
        <div class="input-box">
            <button class="backbutton" id="loginButton" type="button"onclick="redirectToReadingPage()">EXIT PAGE</button>
        </div>
      </form>
    


    <script src="../js/ReadingSpeedTestScript.js"></script>
</body>
</html>
