<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamezone Home Page</title>
    <link rel="stylesheet" href="../css/UnderConstruction.css">
</head>
<body>
    <div class="sidebar">
        <div class="logocontainer">
            <img id="lightbulb" src="../images/Genius.png" alt="Light Bulb">
        </div>
        <ul class="menu">
            <li><a href="#">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
             </a>
            </li>
            <li><a href="ReadingMainPage.html">
                <i class="fas fa-book-open-reader"></i>
                <span>Reading</span>
             </a>
            </li>
            <li><a href="MemoryMainPage.html">
                <i class="fas fa-puzzle-piece"></i>
                <span>Memory</span>
             </a>
            </li>
            <li><a href="LudusMagnus.html">
                <i class="fas fa-dumbbell"></i>
                 <span>Ludus Magnus</span>
             </a>
            </li>
            <li><a href="Settings.html">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
             </a>
            </li>
            <li class="logout"><a href="index.html">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
             </a>
            </li>
        </ul>
    </div>
    
    <div class="dashboard-container">
        <div class="header">
            <h1>Welcome, <span id="username">David</span>!</h1>
            <div class="profile-bar">
                <img src="../images/profile-photo.jpg" alt="Profile Photo" class="profile-photo">
                <div class="notifications">
                    <i class="fa-solid fa-bell"></i>
                    <span class="badge">3</span>
                </div>
                <div class="messages">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="badge">5</span>
                </div>
            </div>
        </div>
       <div class="ConstructionSign">
        <i class="fas fa-tools"></i>
        <span>Under Construction</span>
        </div>
    </div>
    <script src="../js/homepagescript.js"></script>
</body>
</html>
